<h1>Drop off a cat</h1>

Name: {{input value=model.name}}<br>
Age: {{input value=model.age}}<br>
Breed: {{input value=model.breed}}<br>
Vaccinated: {{input value=model.isVaccinated}}<br>
Photo: {{input value=model.photo}}<br>

<button {{action 'saveCat'}}>Save Cat</button>

